/* Layout container */
.player-card {
    display: flex;
    margin-right: 30px;
    margin-top: 20px;
}

/* Profile icon and level badge */
.profile-wrapper {
    display: flex;
    position: relative;
}
.player-element {
    background-color: #1C1A2E;
    width: 410px;
    padding: 10px;
    border-radius: 10px;
    display: flex; /* Make children (icon + details) align horizontally */
    gap: 15px;
}


/* profile icon box */
.profile-icon {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 10px;
}

/* Level badge */
.level-label {
    position: absolute;
    top: -8px;
    left: -8px;
    background: #1ea1f2;
    color: white;
    font-size: 12px;
    padding: 2px 6px;
    border-radius: 8px;

}

/* Player details section */
.player-details {
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}
.name-tag-wrapper {
    display: flex;
    align-items: center;
    gap: 8px;  /* space between name and tag */
}

/* Player name text */
.player-name {
    font-size: 24px;
    font-weight: bold;
    color: white;
}
.player-tag-line {
    font-size: 16px;
    font-weight: lighter;
    color: dimgrey;
}

/* Update button */
.update-button {
    background: #1ea1f2;
    width: 175px;
    color: white;
    font-size: 18px;
    padding: 8px 20px;
    border: none;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.update-button:hover {
    background-color: #1276a8;
    transition: background-color 0.3s ease;
}
