.match-card {
    display: flex;
    width: 975px;
    background-color: #1C1A2E;
    padding: 15px;
    border-radius: 10px;
    color: white;
    margin-bottom: 15px;
}

/* Right/main content */
.match-main {
    display: grid;
    grid-template-columns: 155px 100px 0.8fr 1.2fr 2fr;
    align-items: center;
    width: 100%;
}

.match-info-left {
    display: flex;
    flex-direction: column;
    gap: 6px;
    text-align: center;
    flex-shrink: 0;
}

.result-timer {
    display: flex;
    gap: 8px;
    justify-content: center;
}

/* Champion icon */
.champion-icon {
    width: 100px;
    height: 100px;
    border-radius: 6px;
    flex-shrink: 0;
}

/* KDA section */
.kda-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 6px;
}

/* Items */
.items-grid {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.items-row {
    display: flex;
    gap: 6px;
}

.item-icon {
    width: 32px;
    height: 32px;
    border-radius: 4px;
    background-color: #333;
}

/* Players */
.players-columns {
    display: flex;
    gap: 32px;
    justify-content: center;
}

.team-column-left{
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 140px;
}
.team-column-right{
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 140px;
}

.player {
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 16px;
}

.player.left {
    flex-direction: row;
}

.player.right {
    flex-direction: row-reverse;
    justify-content: flex-end;
}

.player span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100px;
    display: inline-block;
}

.player img {
    width: 23px;
    height: 23px;
    flex-shrink: 0;
}

